# Python
**/__pycache__/
*.pyc
.venv/
.python-version

# Editor
.vscode/
.idea/

# Runtime
*.pid
*.sock
nohup.out

# OS
.DS_Store
Thumbs.db

# Data / models
processed/*.parquet
models/*.pt

# logs
*.log

# etc
*.zip
*.hwp
*.pdf
*.pptx
*.docx
*.csv
*.txt

# Folders
src/sensor/schema_diff_out2/
etc/
research/
results/
data/

plot_*.py
src/TCN_all_classes/
src/TCN_Transformer/check_misuse.py
src/TCN_Transformer/test_train.py
src/AutoEncoder/check_label.py
src/preprocess/misuse_sets.py
src/preprocess/test_*.py


# Exceptions
!processed/flows_test_scaled.parquet
!requirements.txt